* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
header {
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 150%;
}
h1 {
    font-size: 2em; 
}
nav {
    background-color: white;
    padding: 5px;
    text-align: right;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    display: inline-block;
}
main {
    padding: 10px;
}


.banner {
    width: 100%;
    height: 16rem;
    background-image: url('pictures/homepage.jpg'); 
    background-size: cover;
    background-position: center; 
}
.content-container {
    font-family: Serif, sans-serif;
    margin: 0 250px 0 250px; 
    padding: 0;
}
.justify-text {
    text-align: justify;
}
footer {
    background-color: rgb(71, 71, 70);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-family: Serif, sans-serif;
}
a {
    color: #cf78d5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .content-container {
        margin: 15px;
    }
}

@media (max-width: 414px) {
    .content-container {
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .content-container {
        margin: 0 250px 0 250px;
    }
}

form {
    border: 1px solid black;
    padding: 30px; 
    border-radius: 10px;
    margin: auto; 
    background-color: white;
}

/* Additional styling for form elements */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
}

label.required::after {
    content: " *";
    color: red;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline;
    margin-right: 5px; 
}
.question-container {
    border: 1px solid #f9ebf5; 
    padding: 20px; 
    border-radius: 10px;
    background-color: #f6e4e7;
}
.question-container label {
    /* display: block; */
    margin-bottom: 5px;
}

label {
    display: inline;
}
input[type="submit"] {
    background-color: #7ec99b; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}
input[type="reset"] {
    background-color: rgb(204, 107, 107); 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}