* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
header {
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 150%;
}
h1 {
    font-size: 2em; 
}
nav {
    background-color: white;
    padding: 5px;
    text-align: right;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    display: inline-block;
}
  
main {
    padding: 10px;
}

a {
    color: #cf78d5;
    text-decoration: none;
}

.justify-text {
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.grid-item img {
    width: 100%; 
}
.rounded {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.banner {
    width: 100%;
    height: 16rem;
    background-image: url('pictures/homepage2.jpg'); 
    background-size: cover;
    background-position: center; 
}
.content-container {
    font-family: Serif, sans-serif;
    margin: 0 250px 0 250px; 
    padding: 0;
}  
.justify-text {
    text-align: justify;
}
footer {
    background-color: rgb(71, 71, 70);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

/* a {
    color: #cf78d5;
    text-decoration: none;
} */
  
a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
}

li {
    position: relative;
    margin-right: 2%; 
    margin-bottom: 20px; 
    width: 48%; 
    text-align: center;
    overflow: hidden; 
}
/* 
a {
    text-decoration: none;
    color: #333; 
    display: block; 
    position: relative; 
} */

img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
    display: block; 
    margin: 0 auto; 
    transition: transform 0.3s;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s; 
}

li:hover img {
    transform: scale(1.1); 
}

li:hover .overlay {
    background-color: rgba(255, 255, 255, 0); 
}

@media (max-width: 600px) {
    li {
        width: 100%; 
        grid-template-columns: 2fr;
    }
}
@media (max-width: 768px) {
    .content-container {
        margin: 15px;
        
    }
}

@media (max-width: 414px) {
    .content-container {
        margin: 10px;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 1200px) {
    .content-container {
        margin: 0 250px 0 250px;
    }
}

/* footer {
    background-color: rgb(71, 71, 70);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
} */